:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  margin: 10rem;
  margin-top: 1rem;
}

body {
  min-height: 100%;
  background-color: black;
  display: flex;
  align-content: center;
  flex-direction: column;
}

header {
  background-image: url(/Images/space.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.header-items {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.header-items img {
  height: 275px;
  border-radius: 10px;
}

.header-items div {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  border-radius: 4px;
}

.header-items h1,
.header-items h2 {
  line-height: 1.6;
  font-size: 3rem;
}

.header-items h2 {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.four-images {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 5rem;
}

main {
  display: flex;
  flex-direction: column;
}

main article p {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border-radius: 4px;
}

main article h2 {
  color: white;
}

main article span {
  font-size: 0.8rem;
}

.react {
  background-image: url('/Images/react-2.png');
  height: 100px;
}

.code {
  background-image: url('/Images/code.png');
  height: 100px;
}
